frontend {{ haproxy_frontend_name }}
    bind {{ haproxy_frontend_bind_address }}:{{ haproxy_frontend_port }}
    option tcplog
    mode tcp
    default_backend {{ haproxy_backend_name }}

backend {{ haproxy_backend_name }}
    mode tcp
    balance roundrobin
    option tcp-check
{% for backend in haproxy_backend_servers %}
    server {{ backend.name }} {{ backend.address }}:{{ haproxy_backend_port }} check fall 3 rise 2
{% endfor %}